@import '../../../sass/colors';
@import '../../../sass/commons';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
}

.main-title {
  padding: 0 10px;
}

.search {
  padding: 0 10px;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;

  .car-content {
    padding: 10px;

    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
    @media(min-width: 80rem) {
      width: 25%;
    }
  }
}