@import '../../../sass/colors';
@import '../../../sass/commons';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
}

.main-title {
  padding: 0 10px;
}

.search {
  padding: 0 10px;
}

.cars .car-content .car {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale3d(1.05,1.05,1);
  }

  &.selected {
    border: 2px solid rgba(79, 45, 141, 0.84);
  }
}

.basic {
  color: $gray-dark;
}

.compare {
  margin-top: 20px;
}